$color-btn: #f1cdb3;
$color-text: #545454;
$color-text-menu: #cdcdcd;

$height-header: 113px;

$font-georgia: "Georgia", "Time New Roman", serif;
$font-arial: "Arial", "Helvetica", sans-serif;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
