.additional__title {
  position: relative;

  font-size: 24px;
  font-weight: 400;
  text-transform: none;

  &::after {
    content: "";
    position: absolute;

    width: 100px;
    height: 3px;

    top: 20px;
    left: 245px;

    background-color: $color-btn;

    box-shadow: 100px 0 0  $color-btn, 200px 0 0  $color-btn, 300px 0 0  $color-btn;
  }
}

.additional__wrap {
  padding-top: 10px;
  padding-bottom: 36px;
}

.additional__all {
  position: relative;

  margin: 0 auto;
  margin-top: 40px;
  padding-top: 95px;
  padding-bottom: 25px;

  background: url("../img/icon-gift.svg") 50% 28% no-repeat, url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-color: $color-btn;
  background-size: auto, cover;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-gift.svg") 50% 28% no-repeat, url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  }
}

.additional__all-text {
  width: 165px;

  margin-left: 57px;
  margin-top: 90px;

  font-family: $font-arial;
  text-transform: none;
  color: #ffffff;
  text-align: center;
  line-height: 1.25;
}

@media #{$tablet-widths} {
  .additional__title {
    margin-top: 27px;
    margin-left: 37px;

    font-size: 36px;

    &::before {
      content: "";
      position: absolute;

      width: 200px;
      height: 3px;

      top: 30px;
      left: -645px;

      background-color: $color-btn;

      box-shadow: 200px 0 0  $color-btn, 300px 0 0  $color-btn, 400px 0 0  $color-btn;
    }

    &::after {
      width: 200px;

      top: 30px;
      left: 375px;

      box-shadow: 200px 0 0  $color-btn, 300px 0 0  $color-btn, 400px 0 0  $color-btn;
    }
  }

  .additional__wrap {
    padding-top: 43px;
    padding-bottom: 75px;
  }

  .additional__all {
    display: flex;
    justify-content: space-around;

    width: 708px;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    padding-bottom: 52px;

    background: url("../img/icon-gift.svg") 14% 45% no-repeat, url("../img/gift-photo-tablet@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/icon-gift.svg") 14% 45% no-repeat, url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    }
  }

  .additional__all-text {
    margin-left: 305px;
    margin-top: 70px;

    text-align: left;
  }
}

@media #{$desktop-widths} {
  .additional__title {
    margin: 0;
    margin-top: 32px;
    padding-bottom: 32px;

    &::before {
      width: 500px;

      top: 30px;
      left: -1240px;

      box-shadow: 500px 0 0  $color-btn, 600px 0 0  $color-btn, 700px 0 0  $color-btn;
    }

    &::after {
      width: 500px;

      top: 30px;
      left: 375px;

      box-shadow: 500px 0 0  $color-btn, 600px 0 0  $color-btn, 700px 0 0  $color-btn;
    }
  }

  .additional__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-bottom: 82px;
  }

  .additional__all {
    flex-basis: 20%;

    margin: 0;
    padding: 0;
    padding-bottom: 30px;

    background: url("../img/icon-gift.svg") 50% 27% no-repeat, url("../img/gift-photo-desktop@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/icon-gift.svg") 50% 27% no-repeat, url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    }
  }

  .additional__all-text {
    margin-top: 185px;
    margin-left: -2px;

    text-align: center;
  }
}
