.form {
  padding-top: 40px;
  padding-bottom: 17px;

  font-size: 16px;
  line-height: 1.125;
}

.form__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

  margin-bottom: 15px;

  &--mail svg {
    position: absolute;
    top: 15px;
    right: 18px;

    pointer-events: none;
  }

  &--tel svg {
    position: absolute;
    top: 12px;
    right: 15px;

    pointer-events: none;
  }
}

::-ms-clear {
  width: 0;
  height: 0;
}

.form__wrap input::placeholder,
.form-comment textarea::placeholder {
  text-transform: uppercase;
}

.form__wrap input:focus::placeholder,
.form-comment textarea:focus::placeholder {
  font-size: 0;
}

.form__wrap input,
.form-comment textarea {
  padding: 13px 14px;

  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #e6e6e6;

  &:hover {
    box-shadow: 0 0 0 1px rgb(205, 205, 205);
    transition: outline 0.2s;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px rgb(68, 68, 68);
    transition: none;
  }

  &:invalid {
    box-shadow: 0 0 0 2px rgb(255, 130, 130);
    transition: none;
  }
}

.form__wrap input {
  height: 44px;
}

.form__wrap input[name="cat-data-name"] {
  width: 228px;
}

.form__wrap input[name="cat-data-weight"] {
  width: 203px;
}

.form__wrap input[name="cat-data-age"] {
  width: 170px;
}

.form__wrap input[name="contact-email"] {
  width: 217px;
  padding-right: 40px;
}

.form__wrap input[name="contact-tel"] {
  width: 202px;
  padding-right: 40px;
}

.form__wrap input[name="contact-email"],
.form__wrap input[name="contact-tel"] {
  &:active,
  &:focus + svg {
    fill: $color-btn;
  }

  &:invalid + svg {
    fill: #ff8282;
  }
}

.form__wrap label {
  display: block;

  margin-top: 12px;
  padding: 0;
}

.form__title {
  position: relative;

  margin-bottom: 34px;

  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  text-transform: none;

  &::after {
    content: "";
    position: absolute;

    width: 100px;
    height: 3px;

    top: 15px;
    left: 140px;

    background-color: $color-btn;

    box-shadow: 100px 0 0  $color-btn, 200px 0 0  $color-btn, 300px 0 0  $color-btn;
  }
}

.form-contact__title {
  &::after {
    left: 200px;
  }
}

.form-additionally__title {
  &::after {
    left: 160px;
  }
}

.form__text {
  font-family: $font-arial;
  font-size: 14px;
  text-align: center;
  text-transform: none;
  color: #444444;
}

.form-cat-data {
  margin: 0;
  padding: 0;

  border: none;
}

.form-option {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  padding-top: 20px;

  border: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.form-option label {
  display: block;

  padding-top: 7px;
  padding-left: 46px;
}

.form-option input + label {
  position: relative;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 45px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 30px;
    height: 30px;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      border-color: #bababa;
      transition: border-color 0.2s;
    }
  }

  &:active {
    opacity: 0.3;
    transition: none;
  }
}

.form-option input:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;

    width: 12px;
    height: 12px;

    background-color: $color-btn;

    border-radius: 50%;
  }
}

.form-option input:focus + label::before {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.form-option__list {
  @include reset-list();

  padding-bottom: 10px;
}

.form-option__item {
  position: relative;

  padding-bottom: 13px;

  outline: none;
}

.form-option__item:last-child {
  margin-bottom: 0;
}

.form-contact {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 13px;
  padding: 0;

  border: none;
}

.form-comment {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  border: none;
}

.form-comment textarea {
  width: 100%;
  min-height: 150px;
  padding-top: 14px;
  padding-right: 10px;

  resize: vertical;
}

.form-additionally {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  border: none;
}

.form-additionally label {
  padding-top: 4px;
  padding-left: 46px;
}

.form-additionally input + label {
  position: relative;

  padding-top: 2px;
  padding-bottom: 6px;
  padding-left: 45px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 30px;
    height: 30px;

    border: 1px solid #cdcdcd;
  }

  &:hover {
    &::before {
      border-color: #bababa;
      transition: border-color 0.2s;
    }
  }

  &:active {
    opacity: 0.3;
    transition: none;
  }
}

.form-additionally input:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;

  width: 22px;
  height: 20px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form-additionally input:focus + label::before {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.form-additionally__list {
  @include reset-list();
  margin-top: 5px;
}

.form-additionally__item {
  padding-bottom: 25px;

  outline: none;
}

.form-additionally__item input {
  margin-right: 30px;
}

.form__btn {
  margin-bottom: 9px;
  padding: 10px 25px;

  font-size: 16px;
  text-transform: uppercase;
}

@media #{$tablet-widths} {
  .form {
    padding: 0 40px;
    padding-top: 67px;
    padding-bottom: 63px;

    font-size: 20px;
    line-height: 1;
  }

  .form__title {
    font-size: 36px;

    &::before {
      content: "";
      position: absolute;

      width: 200px;
      height: 3px;

      top: 20px;
      left: -645px;

      background-color: $color-btn;

      box-shadow: 200px 0 0  $color-btn, 300px 0 0  $color-btn, 400px 0 0  $color-btn;
    }

    &::after {
      width: 200px;

      top: 20px;
      left: 275px;

      box-shadow: 200px 0 0  $color-btn, 300px 0 0  $color-btn, 400px 0 0  $color-btn;
    }
  }

  .form-contact__title {
    padding-bottom: 41px;

    &::before {
      right: 550px;
    }

    &::after {
      left: 550px;
    }
  }

  .form-comment__title {
    margin-bottom: 75px;

    &::before {
      right: 220px;
    }

    &::after {
      left: 220px;
    }
  }

  .form-additionally__title {
    &::after {
      left: 250px;
    }
  }

  .form__wrap {
    margin-bottom: 21px;

    &--mail svg {
      position: absolute;
      top: 20px;
      right: 15px;
    }

    &--tel svg {
      position: absolute;
      top: 18px;
      right: 13px;
    }
  }

  .form__wrap input {
    height: 50px;
    padding: 14px 17px;
  }

  .form__wrap label {
    margin-top: 15px;
  }

  .form__wrap input[name="cat-data-name"] {
    width: 562px;
  }

  .form__wrap input[name="cat-data-weight"] {
    width: 532px;
  }

  .form__wrap input[name="cat-data-age"] {
    width: 493px;
  }

  .form__wrap input[name="contact-email"] {
    width: 548px;
    margin-top: 2px;
    padding-left: 22px;
  }

  .form__wrap input[name="contact-tel"] {
    width: 532px;
    padding-left: 22px;
  }

  .form-option {
    margin-top: 52px;
    margin-bottom: 75px;
    padding-top: 27px;
    padding-left: 28px;

    border: 1px solid #e6e6e6;
  }

  .form-option__item {
    padding-bottom: 21px;
  }

  .form-option input + label {
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form-option label {
    &::before {
      top: -2px;
      left: -2px;

      width: 40px;
      height: 40px;
    }
  }

  .form-option input:checked + label {
    &::after {
      top: 11px;
      left: 11px;

      width: 18px;
      height: 18px;
    }
  }

  .form-contact {
    margin-bottom: 47px;
  }

  .form-contact .form__wrap {
    margin-bottom: 20px;
  }

  .form-comment {
    margin-bottom: 65px;
    padding: 0;
  }

  .form-comment textarea {
    min-height: 172px;
    padding-top: 15px;
    padding-left: 20px;
  }

  .form-additionally input + label {
    padding-left: 58px;

    &::before {
      top: 0;

      width: 40px;
      height: 40px;
    }
  }

  .form-additionally input:checked + label::after {
    top: 12px;
    left: 10px;

    width: 22px;
    height: 20px;
  }

  .form-additionally__list {
    display: flex;
    flex-wrap: wrap;

    width: 708px;

    margin-top: 32px;
    margin-bottom: 4px;
  }

  .form-additionally__item {
    width: 344px;

    margin-bottom: 27px;
  }

  .form-additionally__item input {
    margin-right: 42px;
  }

  .form__btn-wrap {
    display: flex;
    flex-wrap: wrap;

    margin-top: -6px;
  }

  .form__text {
    font-size: 16px;
    line-height: 1;
  }

  .form__btn {
    width: auto;
    margin-right: 61px;
    padding: 16px 65px;

    font-size: 20px;
  }
}

@media #{$desktop-widths} {
  .form {
    padding-left: 0;
    padding-right: 0;
    padding-top: 65px;
    padding-bottom: 72px;
  }

  .form__box {
    display: flex;
    justify-content: space-between;
  }

  .form__wrap {
    margin-bottom: 22px;

    &--mail svg {
      position: absolute;
      top: 19px;
      right: 20px;
    }

    &--tel svg {
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }

  .form-cat-data .form__wrap:last-child {
    margin: 0;
  }

  .form__title {
    &::before {
      width: 500px;

      top: 20px;
      left: -1245px;

      box-shadow: 500px 0 0  $color-btn, 600px 0 0  $color-btn, 700px 0 0  $color-btn;
    }

    &::after {
      width: 500px;

      top: 20px;
      left: 255px;

      box-shadow: 500px 0 0  $color-btn, 600px 0 0  $color-btn, 700px 0 0  $color-btn;
    }
  }

  .form-contact__title {
    &::after {
      left: 555px;
    }
  }

  .form-comment__title {
    &::after {
      left: 220px;
    }
  }

  .form__wrap input[name="cat-data-name"] {
    width: 505px;
    padding-left: 18px;
  }

  .form__wrap input[name="cat-data-weight"] {
    width: 475px;
    padding-left: 18px;
  }

  .form__wrap input[name="cat-data-age"] {
    width: 435px;
    padding-left: 18px;
  }

  .form__wrap input[name="contact-email"] {
    width: 485px;
    padding-left: 17px;
    padding-right: 50px;
  }

  .form__wrap input[name="contact-tel"] {
    width: 470px;
    padding-left: 17px;
    padding-right: 50px;
  }

  .form-cat-data,
  .form__option {
    width: 570px;

    margin-bottom: 40px;
  }

  .form-option {
    margin-top: -2px;
    padding-left: 26px;
  }

  .form-option__item {
    padding-bottom: 19px;
  }

  .form-option input + label {
    padding-top: 8px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form-contact .form__wrap {
    width: 570px;
  }

  .form-comment {
    margin-bottom: 70px;
  }

  .form-additionally__list {
    justify-content: space-between;

    width: 1220px;

    margin-top: 30px;
    margin-bottom: 13px;
  }

  .form-additionally__item {
    width: 245px;
  }

  .form__btn {
    margin-right: 82px;
    padding: 15px 208px;
  }
}
