.goods-list {
  @include reset-list();

  border-top: 1px solid #e6e6e6;
}

.goods-list__item {
  display: flex;
  flex-wrap: wrap;

  padding-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e6e6e6;
}

.goods-list__item-title {
  width: 280px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;

  font-weight: 400;
}

.goods-list__item-amount,
.goods-list__item-val {
  width: 140px;

  font-family: $font-arial;
  font-size: 14px;
  text-transform: none;
  color: #444444;
}

.goods-list__item-val {
  text-align: right;
}

.goods-list__btn {
  margin-top: 10px;
}

@media #{$tablet-widths} {
  .goods-list {
    padding: 0 38px;
  }

  .goods-list__item {
    padding-top: 20px;
    padding-bottom: 29px;
  }

  .goods-list__item-title {
    margin-right: 119px;

    font-size: 20px;
    font-weight: 400;
  }

  .goods-list__item-amount,
  .goods-list__item-val {
    margin-top: 7px;

    font-size: 16px;
    text-align: right;
  }

  .goods-list__item-val {
    width: 93px;
  }

  .goods-list__btn {
    margin-top: 12px;
  }
}

@media #{$desktop-widths} {
  .goods-list {
    display: flex;
    flex-wrap: wrap;
    width: 895px;

    margin: 0;
    padding: 0;
  }

  .goods-list__item {
    width: 895px;
    padding-top: 15px;
    padding-bottom: 16px;
  }

  .goods-list__item-title {
    width: 325px;
    margin: 0;
    padding: 0;

    line-height: 2;
  }

  .goods-list__item-amount {
    width: 245px;
    margin-top: 11px;

    text-align: left;
  }

  .goods-list__item-val {
    width: 80px;
    margin-top: 12px;

    text-align: left;
  }

  .goods-list__btn {
    width: auto;
    margin: 0;
    padding: 10px 91px;
  }
}
