.living-example {
  padding-top: 30px;
  padding-bottom: 26px;

  background-color: #f2f2f2;
}

.living-example__title {
  margin-bottom: 35px;
}

.living-example__box {
  padding: 0 20px;
}

.living-example__text {
  margin-bottom: 25px;
  padding-right: 5px;

  font-family: $font-arial;
  font-size: 14px;
  line-height: 1.3;
  text-transform: none;
  color: #444444;
}

.living-example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 35px;
}

.living-example__result-box {
  flex-basis: 45%;

  position: relative;

  text-align: center;

  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.living-example__result-info {
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 0;
}

.living-example__result-text {
  position: absolute;
  bottom: -17px;
  left: 22px;

  width: 80px;
  font-family: $font-arial;
  font-size: 12px;
  color: #444444;
  text-transform: lowercase;
  line-height: 1;

  background-color: #f2f2f2;
}

.living-example__cost {
  font-size: 14px;
  text-align: center;
}

.living-example__img {
  min-width: 320px;
  min-height: 240px;
  margin-top: 17px;
  margin-left: -20px;
  margin-bottom: 20px;

  &--lean-cat {
    display: none;
  }
}

.living-example__range {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
}

.living-example__range-wrap {
  position: relative;

  margin-top: 18px;
}

.living-example__range-text {
  font-size: 16px;
  line-height: 1.25;
}

.living-example__range-bar {
  position: relative;

  height: 14px;
  width: 85px;
  margin: 0 8px;
  margin-top: 12px;

  background-color: #ffffff;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.living-example__range-bar-circle {
  position: absolute;
  top: 3px;
  left: 5px;

  height: 6px;
  width: 35px;

  background-color: $color-btn;
  border-radius: 5px;
}

.living-example__range-btn {
  margin: 0;
  padding: 10px;

  background: none;

  border: none;

  text-transform: uppercase;

  cursor: pointer;
}

@media #{$tablet-widths} {
  .living-example {
    padding-bottom: 67px;

    background: linear-gradient(#ffffff 57%, transparent 27%), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .living-example__wrap {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
  }

  .living-example__title {
    margin-bottom: 47px;
    padding-top: 12px;
  }

  .living-example__text {
    width: 708px;
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 1.5;
  }

  .living-example__result {
    flex-basis: 52%;
  }

  .living-example__result-info {
    padding-top: 4px;
    padding-bottom: 8px;

    font-size: 30px;
    line-height: 0;
  }

  .living-example__result-text {
    left: 16px;
    bottom: -7px;

    width: 130px;

    font-size: 14px;

    background-color: #ffffff;
  }

  .living-example__cost {
    display: block;

    flex-basis: 30%;

    margin-top: 10px;
    margin-left: 127px;

    font-size: 20px;

    text-align: right;
  }

  .living-example__range-wrap {
    position: relative;

    min-height: 585px;
    margin-left: 5px;
  }

  .living-example__img-wrap {
    position: absolute;

    min-height: 530px;
    width: 305px;

    overflow: hidden;

    &--fat-cat {
      left: 45px;
    }

    &--lean-cat {
      left: 350px;
    }
  }

  .living-example__img {
    min-width: 690px;

    &--fat-cat {
      margin-left: -30px;
    }

    &--lean-cat {
      display: block;
      margin-left: -336px;
    }
  }

  .living-example__range {
    display: flex;

    position: absolute;
    left: 68px;
    bottom: 0;
  }

  .living-example__range-bar {
    position: relative;

    height: 6px;
    width: 426px;
    margin: 0 22px;
    margin-top: 16px;

    background-color: #dcdcdc;

    border-radius: 5px;

    cursor: pointer;
  }

  .living-example__range-bar-circle {
    position: absolute;
    top: -12px;
    left: 46%;

    height: 32px;

    background-color: #ffffff;

    border: solid 1px #dcdcdc;
    border-radius: 50%;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";

      position: absolute;
      top: 35%;
      left: 36%;

      height: 8px;
      width: 8px;

      background-color: $color-btn;

      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      transition: box-shadow 0.2s;
    }

    &:active {
      border: solid 2px rgb(104, 183, 56);
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      transition: none;
    }
  }

  .living-example__range-btn {
    padding: 10px 0;
    padding-bottom: 4px;

    font-size: 20px;

    border-bottom: dotted 1px #b8b8b8;

    cursor: pointer;

    &:hover {
      border-bottom: solid 1px #b8b8b8;
    }

    &:active {
      border-bottom: solid 1px rgba(184, 184, 184, 0);
    }
  }
}

@media #{$desktop-widths} {
  .living-example {
    margin-top: 0;
    padding: 0;

    background: linear-gradient(#ffffff 26.5%, transparent 23.9%), linear-gradient(to right, #f2f2f2 57.3%, #eaeaea 42.7%);
  }

  .living-example__container {
    display: flex;

    padding-bottom: 40px;

    background: linear-gradient(#ffffff 6.8%, transparent 6.8%), linear-gradient(to right, #f2f2f2 76.4%, #eaeaea 24.6%);
  }

  .living-example__wrap {
    flex-wrap: wrap;
    align-content: flex-start;

    width: 570px;
  }

  .living-example__text {
    width: 450px;
    margin-top: 100px;
    margin-bottom: 68px;
  }

  .living-example__title {
    padding-top: 20px;
  }

  .living-example__result {
    flex-basis: 64%;

    width: 365px;
    margin-right: 200px;
  }

  .living-example__range-wrap {
    width: 610px;
    margin-top: -180px;
    left: 54px;
  }

  .living-example__cost {
    display: flex;
    justify-content: space-between;
    flex-basis: 57%;

    margin: 0;
    margin-top: 20px;
    padding: 0;

    text-align: left;
  }

  .living-example__img-wrap {
    &--fat-cat {
      width: 330px;

      left: -25px;
    }

    &--lean-cat {
      left: 300px;
    }
  }

  .living-example__img {
    &--fat-cat {
      margin-left: -35px;
    }

    &--lean-cat {
      display: block;

      margin-left: -360px;
    }
  }

  .living-example__range {
    left: 0;
    right: 0;
    bottom: 26px;
  }

  .living-example__result-info {
    padding-top: 2px;
  }

  .living-example__result-text {
    background-color: #f2f2f2;
  }

  .living-example__range-bar-circle {
    height: 35px;

    &::before {
      top: 38%;
      left: 37%;
    }
  }
}
