.map {
  position: relative;
  z-index: 1;

  min-height: 476px;

  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.map__wrap {
  display: flex;

  padding-top: 13px;
  padding-bottom: 8px;

  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.map__text {
  flex-basis: 50%;

  font-size: 16px;
  line-height: 1.25;
}

.map__city {
  display: block;

  margin-top: 2px;
}

.map__adress {
  flex-basis: 50%;

  padding-top: 2px;

  font-family: $font-arial;
  font-size: 14px;
  text-transform: none;
  color: #444444;
}

.map__interactive {
  position: absolute;
  z-index: -1;
  top: 115px;
  left: 0;

  min-height: 362px;
  width: 100%;

  background-image: url("../img/bg-map-mobile@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.map__iframe {
  width: 100%;
  min-height: 362px;

  border: 0;
}

@media #{$tablet-widths} {
  .map {
    min-height: 597px;
  }

  .map__wrap {
    padding: 0 40px;
    padding-top: 47px;
    padding-bottom: 40px;
  }

  .map__text {
    flex-basis: 200px;

    margin-right: 258px;

    font-size: 20px;
    line-height: 25px;
  }

  .map__adress {
    flex-basis: 170px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .map__city {
    margin-top: 20px;
  }

  .map__interactive {
    top: 202px;

    min-height: 400px;

    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .map__iframe {
    min-height: 400px;
  }
}

@media #{$desktop-widths} {
  .map {
    min-height: 400px;

    padding-top: 95px;

    background-color: #ffffff;
  }

  .map__wrap {
    width: 570px;

    padding: 0 75px;
    padding-top: 46px;
    padding-bottom: 44px;

    background-color: #ffffff;
  }

  .map__text {
    margin-right: 50px;
  }

  .map__adress {
    padding-top: 2px;

    text-align: left;
  }

  .map__interactive {
    top: 0;

    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
