.page {
  min-width: 320px;

  font-family: $font-oswald;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;
}

@media #{$desktop-widths} {
  .page__header {
    min-height: $height-header;
  }

  .page__selection-program {
    margin-top: -$height-header;
  }
}
