.products-wrap__more-box {
  position: relative;

  padding-top: 66px;
  padding-bottom: 36px;

  text-align: center;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center 15%;
  background-size: 30px;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.products-wrap__more-title {
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.products-wrap__more-text {
  margin-bottom: 32px;

  font-family: $font-arial;
  font-size: 12px;
  line-height: 1;
  text-transform: none;
  color: #444444;
}

.products-wrap__more-btn {
  @include reset-btn();

  padding: 8px 80px;

  font-size: 16px;
  text-decoration: none;
  color: #444444;
  text-align: center;

  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
    transition: background-color 0.2s;
  }

  &:active {
    opacity: 0.3;
    transition: none;
  }
}

@media #{$tablet-widths} {
  .products-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 10px;
  }

  .products-wrap__more-box {
    width: 324px;

    margin-top: 116px;
    padding: 0 80px;
    padding-top: 144px;
    padding-bottom: 134px;

    background-size: 60px;
    background-position: center 14%;

    border: 1px solid #e6e6e6;
  }

  .products-wrap__more-title {
    width: 166px;

    margin-bottom: 23px;

    font-size: 20px;
    line-height: 1;
  }

  .products-wrap__more-text {
    width: 170px;

    margin-left: -5px;

    font-size: 16px;
    line-height: 1.2;
  }

  .products-wrap__more-btn {
    position: absolute;
    bottom: 38px;
    left: 40px;

    padding: 9px 78px;
  }
}

@media #{$desktop-widths} {
  .products-wrap__more,
  .products-wrap__more-box {
    width: 245px;
  }

  .products-wrap__more-box {
    padding: 0 40px;

    padding-top: 144px;
    padding-bottom: 134px;
  }

  .products-wrap__more-btn {
    position: absolute;
    bottom: 41px;
    left: 37px;

    padding: 9px 40px;
  }
}
