.social__list {
  @include reset-list();

  display: flex;
  justify-content: space-between;

  padding: 11px 70px;
  padding-left: 60px;
  padding-bottom: 8px;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.social__link {
  display: inline-block;

  padding: 10px 11px;

  fill: #666666;

  &:hover {
    fill: $color-btn;
    transition: fill 0.2s;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
    transition: none;
  }
}

@media #{$tablet-widths} {
  .social__list {
    align-items: center;
    padding: 10px 0;
    padding-left: 20px;

    border: none;
  }

  .social__link {
    padding: 10px 14px;

    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--insta svg {
      width: 23px;
      height: 23px;
    }

    &--fb svg {
      width: 14px;
      height: 28px;
    }
  }
}

@media #{$desktop-widths} {
  .social__list {
    align-items: center;
    padding: 10px 0;
    padding-left: 15px;

    border: none;
  }
}
